.color {
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;

}

.color1 {
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: bolder;



}